.header-wrapper {
    margin-left: 5px;
    margin-right: 5px;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    font-size: 8px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    border: 1px solid black;
    color: #000000;
    font-weight: 900;
}

.logo img {
    width: 70px;
}

.fnav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a:hover {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.fnav-links a:hover {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}


.fnav-links a {
    font-size: 8px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    border: 1px solid black;
    color: #000000;
    font-weight: 900;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
}

.social-links a {
    color: black;
}