.header-wrapper {
    /* background-color: #F4FFFD; */
    height: 350px;
    padding-bottom: 30px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

.nav-links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 6px;
    margin-bottom: 20px;
    font-weight: 700;
    border: 0.7px solid #11a9ec;
    transition: 0.1s all;
}

.nav-links a:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.logo {
    text-align: center;
}

.logo img {
    height: 150px;
}